* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.puzzle-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.right-pane{
    background: rgb(238, 179, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-pane{
    background-color: rgb(237, 237, 237);
    display: flex;
}

.puzzle {
    position: relative;
    display: grid;
    grid-gap: 0px;

}
.puzzle-result {
    display: grid;
}

.puzzle-cell{
    background-color: rgb(237, 237, 237);
}
.puzzle-result, .puzzle-cell {
    border: 1px solid rgb(74, 74, 74)
}