body{
    font-family: 'Comic Sans MS';
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.comment {
    resize: none;
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:auto;
    height:auto;
    padding:2vw;
    gap:2vw;
    align-items: center;
}

.border{
    border:0.3vw solid black;
    padding:2vw;
    display:flex;
    gap:5vw;
    flex-direction: column;
}

.add-task{
    display:flex;
    flex-direction: column;
    width:65vw;
    height:auto;
    border:0.3vw solid black;
    padding:2vw;
}

.add-task-form{
    display: flex;
    flex-direction: column;
    gap:2vw;
}

.add-task-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.add-task-form input[type="text"],
.add-task-form select,
.add-task-form textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.add-task-form input[type="submit"] {
    font-family: 'Comic Sans MS';
  }

.task-list{
    display:flex;
    flex-direction: column;
    width:65vw;
    height:auto;
    border:0.3vw solid black;
    padding:2vw;
    gap:2vw;
}

.task-list-row{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:2vw;
}

.quick-links{
    display:flex;
    flex-direction:row;
    gap:1vw;
}