@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
    box-sizing: border-box;
}
html {
    font: normal normal normal 18px Roboto;
    background:#e5e5e5;
}
h1 {
    text-align: center;
    font: Bold 32px Roboto;
    background:#e5e5e5;
}
.msw{
    --columns-count: 8;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(--columns-count, 40px);
    grid-gap: 8px;
}
.msw-cell{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: solid 1px #707070;
    background: #bbbb;
}
.closed:hover{
    outline: solid 2px #04beee80;
}
.closed{
    background: rgb(153, 152, 152);
    cursor: pointer;
}
.mark{
    background:rgb(245, 245, 245);
    pointer-events: none;
}
.mark::before{
    content: "🚩";
}
.bomb{
    background-color: rgb(152, 5, 5);
    pointer-events: none;
}
.bomb::before {
    content: "💣";
}