*{
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    background-color: #eee;
    padding: 0 15px;
    font: normal normal normal 14px Roboto;
    letter-spacing: 0px;
    color: #707070;
}
.card-container{
    min-height: 100%;
    display: grid;
    grid-template-columns: 570px 570px;
    grid-gap: 55px;
}
.card-form{
    background: #fff;
    box-shadow: 0px 0px 6px #00000029;
    padding: 15px 15px;
}

h1{
    margin: 15px 0;
    font: normal normal bold 20px Roboto;
    letter-spacing: 0px;
    color: #707070;
}

.card-result{
    padding: 78px 15px 0;
}
.card{
    width: 445px;
    background: #fff;
    height: 268px;
    box-shadow: 0px 6px 12px #00000029;
    border-radius: 6px;
}
.card-organization{
    text-align: center;
    font: normal normal normal 10px Roboto;
    letter-spacing: 0px;
    color: #202020;
    padding-top: 20px;
    margin-bottom: 32px;
}
.card-fio{
    text-align: center;
    font: normal normal bold 26px Roboto;
    letter-spacing: 0px;
    color: #202020;
    margin: 5px 16px 5px 16px;
}
.card-position{
    text-align: center;
    font: normal normal normal 14px Roboto;
    letter-spacing: 0px;
    color: #474747;
    margin:5px 16px 20px 16px;
}
.card-contacts{
    padding-left: 50%;
}
.card-email, .card-phone, .card-adress{
    text-align: left;
    font: normal normal normal 12px Roboto;
    letter-spacing: 0px;
    color: #202020;
    margin-bottom: 10px;
}

button{
    background: #3F88E8 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal normal 14px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    border-radius: 32px;
    cursor: pointer;
    border-style: none;
    width: 114px;
    height: 30px;
}

button:hover{
	color: rgb(12, 12, 12);
	background: rgb(235, 235, 235);
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear; 
}

.align-text{
    display: flex;
    align-self: center;
    border: 2px solid #a0a0a0;
    border-radius: 3px;
    width: 93px;
    height: 23px;
    justify-content: center;
}

.size-text{
    display: flex;
    align-self: center;
    text-align: center;
    font: normal normal bold 12px Roboto;
    color: #3f3f3f;
    border: 2px solid #a0a0a0;
    border-radius: 3px;
    width: 93px;
    height: 23px;
    justify-content: center;
}

.align{
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 19px;
}

.first{
    background-image: url(bttn-icon/Group\ 645.png);
}
.second{
    background-image: url(bttn-icon/Group\ 643.png);
}
.third{
    background-image: url(bttn-icon/Group\ 646.png);
}
.info{
    display: grid;
    grid-template-columns: 270px 125px 100px;
}
input, button{
    margin: 6px 0px;
    grid-column-start: 1;
    grid-column-end: 2;
}
.checkbox-email, .checkbox-adr{
    display: flex;
    align-items: center;
    width: 100px;
    height: 33px;
}
#check{
    width: 23px;
    height: 15px;
    margin-right: 10px;
}
#customChoice{
    display: none;
}
#customChoice:checked + .align{
    background-color: #a0a0a0;
}
input{
    width: 240px;
}

