*{
    box-sizing: border-box;
}

html, body {
    font: normal normal normal 14px/17px Roboto;
    color: #2b2b2b;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

label{
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #2b2b2b;
}

body{
    background-color: #eee;
    padding: 0 15px;
}

.list-container{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.todolist-container{
    background: #fff;
    box-shadow: 0px 0px 6px #00000029;
    margin: 15px 0px 15px 0px;
}

.list-title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 25px 15px 0px 15px;
}

h1{
    margin: 15px 0;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #707070;
}

.todo-form{
    padding: 100px 0;
    position: sticky;
    top: 0;
    height: 0;
}

.hidden{
    display: none;
}

.task-item, .task-item-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    border-radius: 3px;
    height: 55px;
}

.task-item:nth-child(even){
    background-color: #2b2b2b13;
}
.task-item-main, .task-item-control{
    margin: 0 10px 0 10px;
}

.task-item-prio{
    padding: 0px 20px 0px 20px;
}

.task-item-checkbox, .details-checkbox{
    width: 20px;
    height: 20px;
    background-color: #343434;
    cursor: pointer;
    padding: 5px;
}

.details{
    display: flex;
    flex-direction: column;
    width: 480px;
    background: #fff;
    height: 240px;
    box-shadow: 0px 6px 12px #00000029;
    border-radius: 3px;
    padding: 15px 25px 25px 25px;
}

.details-control{
    display: flex;
    align-items: center;
}

.details-name, .details-control{
    margin: 5px 0 5px 0;
}

.details-checkbox{
    margin-left: 0px;
}

.apply-button{
    background: #3F88E8 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 32px;
    border-style: none;
    width: 114px;
    height: 30px;
}

button{
    cursor: pointer;
    background-color:#ffffff00;
    border-style: none;
    border-radius: 32px;
    font-size: 17px;
}

.details-button{
    padding: 7px 0 0 0;
}
.cancel{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #656565;
    color: #656565;
}
label{
    cursor: pointer;
}
button:hover{
	color: rgb(12, 12, 12);
	background: rgb(208, 208, 208);
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear; 
}

.align-text{
    align-self: center;
}

.done{
    text-decoration: line-through;
    color: #30303083;
}

